In [1]:
import pandas
import numpy

In [2]:
data = pandas.read_csv("advertising.csv")
df = pandas.DataFrame(data)
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [3]:
df.isna().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [4]:
df.dtypes

TV           float64
Radio        float64
Newspaper    float64
Sales        float64
dtype: object

In [5]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [6]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)

x_test = scaler.transform(x_test)

In [8]:
from sklearn.linear_model import LinearRegression

linear = LinearRegression()
linear = linear.fit(x_train,y_train)

y_pred = linear.predict(x_test)

In [9]:
print(linear.coef_)      # m
print(linear.intercept_) # c

[ 4.56872882  1.52999703 -0.1046393 ]
15.099285714285712

In [10]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(y_test,y_pred))

1.3050332320391875

In [13]:
from sklearn.metrics import mean_squared_error

print(mean_squared_error(y_test,y_pred))

2.8333991601296478

In [14]:
from sklearn.metrics import root_mean_squared_error

print(root_mean_squared_error(y_test,y_pred))

1.683270376418966

In [12]:
from sklearn.metrics import mean_absolute_percentage_error

print(mean_absolute_percentage_error(y_test,y_pred))

0.11053894513666093

In [11]:
from sklearn.metrics import r2_score

print(r2_score(y_test,y_pred))

0.9089768108958051