In [2]:
import pandas
import numpy

In [3]:
data = pandas.read_csv('heart_sample.csv')
df = pandas.DataFrame(data)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125.0,212,0,NaN,168.0,0,1.0,2,2.0,3.0,0
1,53,1,0,140.0,203,1,0.0,155.0,1,3.1,0,0.0,3.0,0
2,70,1,0,145.0,174,0,1.0,125.0,1,2.6,0,0.0,3.0,0
3,61,1,0,148.0,203,0,1.0,NaN,0,0.0,2,1.0,3.0,0
4,62,0,0,138.0,294,1,1.0,106.0,0,1.9,1,3.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140.0,221,0,1.0,164.0,1,0.0,2,0.0,2.0,1
1021,60,1,0,125.0,258,0,0.0,141.0,1,2.8,1,1.0,3.0,0
1022,47,1,0,110.0,275,0,0.0,118.0,1,1.0,1,1.0,2.0,0
1023,50,0,0,110.0,254,0,0.0,159.0,0,0.0,2,0.0,2.0,1
1024,54,1,0,120.0,188,0,1.0,113.0,0,1.4,1,1.0,3.0,0

In [4]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps    float64
chol          int64
fbs           int64
restecg     float64
thalach     float64
exang         int64
oldpeak     float64
slope         int64
ca          float64
thal        float64
target        int64
dtype: object

In [5]:
# target >>> target 
# imput features >>> remaining

In [6]:
df = df.drop(columns=['age','sex'],axis=0)
df

,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0,125.0,212,0,NaN,168.0,0,1.0,2,2.0,3.0,0
1,0,140.0,203,1,0.0,155.0,1,3.1,0,0.0,3.0,0
2,0,145.0,174,0,1.0,125.0,1,2.6,0,0.0,3.0,0
3,0,148.0,203,0,1.0,NaN,0,0.0,2,1.0,3.0,0
4,0,138.0,294,1,1.0,106.0,0,1.9,1,3.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1,140.0,221,0,1.0,164.0,1,0.0,2,0.0,2.0,1
1021,0,125.0,258,0,0.0,141.0,1,2.8,1,1.0,3.0,0
1022,0,110.0,275,0,0.0,118.0,1,1.0,1,1.0,2.0,0
1023,0,110.0,254,0,0.0,159.0,0,0.0,2,0.0,2.0,1
1024,0,120.0,188,0,1.0,113.0,0,1.4,1,1.0,3.0,0

In [7]:
df.isna().sum()

cp          0
trestbps    1
chol        0
fbs         0
restecg     1
thalach     1
exang       0
oldpeak     0
slope       0
ca          2
thal        1
target      0
dtype: int64

In [8]:
df['trestbps'] = df['trestbps'].fillna(df['trestbps'].mean())
df.isna().sum()

cp          0
trestbps    0
chol        0
fbs         0
restecg     1
thalach     1
exang       0
oldpeak     0
slope       0
ca          2
thal        1
target      0
dtype: int64

In [9]:
df['restecg'] = df['restecg'].fillna(df['restecg'].mean())
df.isna().sum()

cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     1
exang       0
oldpeak     0
slope       0
ca          2
thal        1
target      0
dtype: int64

In [10]:
df['thalach'] = df['thalach'].fillna(df['thalach'].mean())
df.isna().sum()

cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          2
thal        1
target      0
dtype: int64

In [11]:
df['ca'] = df['ca'].fillna(df['ca'].mean())
df.isna().sum()

cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        1
target      0
dtype: int64

In [12]:
df['thal'] = df['thal'].fillna(df['thal'].mean())
df.isna().sum()

cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [13]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]
X
Y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size= 0.3)

X_train
X_test
Y_train
Y_test

149    1
450    0
810    0
645    0
248    1
      ..
139    1
154    0
237    0
250    0
637    1
Name: target, Length: 308, dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler() 
scaler.fit(X_train) # data collect like mean std

X_train = scaler.transform(X_train) # scale into a range (0-1)
X_test = scaler.transform(X_test)   # testing data - convert to range, not fit buz data leakage