In [120]:
import pandas
import numpy

In [121]:
data = pandas.read_csv("medical_insurance.csv")
df = pandas.DataFrame(data)
df

,person_id,age,sex,region,urban_rural,income,education,marital_status,employment_status,household_size,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,75722,52,Female,North,Suburban,22700.0,Doctorate,Married,Retired,3,...,0,1,0,1,0,2,0,1,0,0
1,80185,79,Female,North,Urban,12800.0,No HS,Married,Employed,3,...,0,1,1,0,0,1,0,1,1,0
2,19865,68,Male,North,Rural,40700.0,HS,Married,Retired,5,...,0,0,1,1,0,2,1,0,1,0
3,76700,15,Male,North,Suburban,15600.0,Some College,Married,Self-employed,5,...,0,0,0,1,0,0,1,0,0,0
4,92992,53,Male,Central,Suburban,89600.0,Doctorate,Married,Self-employed,2,...,0,1,0,2,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,6266,50,Male,West,Urban,127200.0,No HS,Married,Employed,2,...,0,0,0,0,0,1,0,0,0,0
99996,54887,42,Male,East,Suburban,21600.0,HS,Married,Employed,2,...,0,0,0,0,0,0,0,0,0,0
99997,76821,41,Male,West,Rural,81900.0,HS,Divorced,Unemployed,1,...,0,0,0,1,0,1,0,0,0,0
99998,861,51,Female,South,Urban,43400.0,Doctorate,Single,Unemployed,3,...,0,0,1,0,0,2,2,1,0,0
99999,15796,44,Female,South,Rural,43700.0,Some College,Married,Employed,2,...,0,0,0,0,0,1,1,1,0,0

In [122]:
df.dtypes

person_id                        int64
age                              int64
sex                             object
region                          object
urban_rural                     object
income                         float64
education                       object
marital_status                  object
employment_status               object
household_size                   int64
dependents                       int64
bmi                            float64
smoker                          object
alcohol_freq                    object
visits_last_year                 int64
hospitalizations_last_3yrs       int64
days_hospitalized_last_3yrs      int64
medication_count                 int64
systolic_bp                    float64
diastolic_bp                   float64
ldl                            float64
hba1c                          float64
plan_type                       object
network_tier                    object
deductible                       int64
copay                            int64
policy_term_years                int64
policy_changes_last_2yrs         int64
provider_quality               float64
risk_score                     float64
annual_medical_cost            float64
annual_premium                 float64
monthly_premium                float64
claims_count                     int64
avg_claim_amount               float64
total_claims_paid              float64
chronic_count                    int64
hypertension                     int64
diabetes                         int64
asthma                           int64
copd                             int64
cardiovascular_disease           int64
cancer_history                   int64
kidney_disease                   int64
liver_disease                    int64
arthritis                        int64
mental_health                    int64
proc_imaging_count               int64
proc_surgery_count               int64
proc_physio_count                int64
proc_consult_count               int64
proc_lab_count                   int64
is_high_risk                     int64
had_major_procedure              int64
dtype: object

In [123]:
df = df.drop(columns=["person_id","education","region","urban_rural","marital_status","household_size"],axis=1)
df

,age,sex,income,employment_status,dependents,bmi,smoker,alcohol_freq,visits_last_year,hospitalizations_last_3yrs,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,52,Female,22700.0,Retired,1,27.4,Never,NaN,2,0,...,0,1,0,1,0,2,0,1,0,0
1,79,Female,12800.0,Employed,1,26.6,Never,Weekly,2,0,...,0,1,1,0,0,1,0,1,1,0
2,68,Male,40700.0,Retired,3,31.5,Never,NaN,1,0,...,0,0,1,1,0,2,1,0,1,0
3,15,Male,15600.0,Self-employed,3,31.6,Never,NaN,0,0,...,0,0,0,1,0,0,1,0,0,0
4,53,Male,89600.0,Self-employed,0,30.5,Never,Daily,3,0,...,0,1,0,2,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,50,Male,127200.0,Employed,0,28.2,Never,Occasional,0,0,...,0,0,0,0,0,1,0,0,0,0
99996,42,Male,21600.0,Employed,0,27.6,Never,Occasional,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,41,Male,81900.0,Unemployed,0,29.8,Former,Weekly,7,0,...,0,0,0,1,0,1,0,0,0,0
99998,51,Female,43400.0,Unemployed,2,21.9,Never,Occasional,4,0,...,0,0,1,0,0,2,2,1,0,0
99999,44,Female,43700.0,Employed,0,29.2,Never,NaN,1,0,...,0,0,0,0,0,1,1,1,0,0

In [124]:
df.isna().sum()

age                                0
sex                                0
income                             0
employment_status                  0
dependents                         0
bmi                                0
smoker                             0
alcohol_freq                   30083
visits_last_year                   0
hospitalizations_last_3yrs         0
days_hospitalized_last_3yrs        0
medication_count                   0
systolic_bp                        0
diastolic_bp                       0
ldl                                0
hba1c                              0
plan_type                          0
network_tier                       0
deductible                         0
copay                              0
policy_term_years                  0
policy_changes_last_2yrs           0
provider_quality                   0
risk_score                         0
annual_medical_cost                0
annual_premium                     0
monthly_premium                    0
claims_count                       0
avg_claim_amount                   0
total_claims_paid                  0
chronic_count                      0
hypertension                       0
diabetes                           0
asthma                             0
copd                               0
cardiovascular_disease             0
cancer_history                     0
kidney_disease                     0
liver_disease                      0
arthritis                          0
mental_health                      0
proc_imaging_count                 0
proc_surgery_count                 0
proc_physio_count                  0
proc_consult_count                 0
proc_lab_count                     0
is_high_risk                       0
had_major_procedure                0
dtype: int64

In [125]:
df["alcohol_freq"] = df["alcohol_freq"].fillna(df["alcohol_freq"].mode()[0])
df

,age,sex,income,employment_status,dependents,bmi,smoker,alcohol_freq,visits_last_year,hospitalizations_last_3yrs,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,52,Female,22700.0,Retired,1,27.4,Never,Occasional,2,0,...,0,1,0,1,0,2,0,1,0,0
1,79,Female,12800.0,Employed,1,26.6,Never,Weekly,2,0,...,0,1,1,0,0,1,0,1,1,0
2,68,Male,40700.0,Retired,3,31.5,Never,Occasional,1,0,...,0,0,1,1,0,2,1,0,1,0
3,15,Male,15600.0,Self-employed,3,31.6,Never,Occasional,0,0,...,0,0,0,1,0,0,1,0,0,0
4,53,Male,89600.0,Self-employed,0,30.5,Never,Daily,3,0,...,0,1,0,2,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,50,Male,127200.0,Employed,0,28.2,Never,Occasional,0,0,...,0,0,0,0,0,1,0,0,0,0
99996,42,Male,21600.0,Employed,0,27.6,Never,Occasional,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,41,Male,81900.0,Unemployed,0,29.8,Former,Weekly,7,0,...,0,0,0,1,0,1,0,0,0,0
99998,51,Female,43400.0,Unemployed,2,21.9,Never,Occasional,4,0,...,0,0,1,0,0,2,2,1,0,0
99999,44,Female,43700.0,Employed,0,29.2,Never,Occasional,1,0,...,0,0,0,0,0,1,1,1,0,0

In [126]:
df.isna().sum()

age                            0
sex                            0
income                         0
employment_status              0
dependents                     0
bmi                            0
smoker                         0
alcohol_freq                   0
visits_last_year               0
hospitalizations_last_3yrs     0
days_hospitalized_last_3yrs    0
medication_count               0
systolic_bp                    0
diastolic_bp                   0
ldl                            0
hba1c                          0
plan_type                      0
network_tier                   0
deductible                     0
copay                          0
policy_term_years              0
policy_changes_last_2yrs       0
provider_quality               0
risk_score                     0
annual_medical_cost            0
annual_premium                 0
monthly_premium                0
claims_count                   0
avg_claim_amount               0
total_claims_paid              0
chronic_count                  0
hypertension                   0
diabetes                       0
asthma                         0
copd                           0
cardiovascular_disease         0
cancer_history                 0
kidney_disease                 0
liver_disease                  0
arthritis                      0
mental_health                  0
proc_imaging_count             0
proc_surgery_count             0
proc_physio_count              0
proc_consult_count             0
proc_lab_count                 0
is_high_risk                   0
had_major_procedure            0
dtype: int64

In [127]:
df.dtypes

age                              int64
sex                             object
income                         float64
employment_status               object
dependents                       int64
bmi                            float64
smoker                          object
alcohol_freq                    object
visits_last_year                 int64
hospitalizations_last_3yrs       int64
days_hospitalized_last_3yrs      int64
medication_count                 int64
systolic_bp                    float64
diastolic_bp                   float64
ldl                            float64
hba1c                          float64
plan_type                       object
network_tier                    object
deductible                       int64
copay                            int64
policy_term_years                int64
policy_changes_last_2yrs         int64
provider_quality               float64
risk_score                     float64
annual_medical_cost            float64
annual_premium                 float64
monthly_premium                float64
claims_count                     int64
avg_claim_amount               float64
total_claims_paid              float64
chronic_count                    int64
hypertension                     int64
diabetes                         int64
asthma                           int64
copd                             int64
cardiovascular_disease           int64
cancer_history                   int64
kidney_disease                   int64
liver_disease                    int64
arthritis                        int64
mental_health                    int64
proc_imaging_count               int64
proc_surgery_count               int64
proc_physio_count                int64
proc_consult_count               int64
proc_lab_count                   int64
is_high_risk                     int64
had_major_procedure              int64
dtype: object

In [128]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df["sex"] = le.fit_transform(df["sex"])
df["smoker"] = le.fit_transform(df["smoker"])
df["employment_status"] = le.fit_transform(df["employment_status"])
df["alcohol_freq"] = le.fit_transform(df["alcohol_freq"])
df["plan_type"] = le.fit_transform(df["plan_type"])
df["network_tier"] = le.fit_transform(df["network_tier"])

In [129]:
df.dtypes

age                              int64
sex                              int64
income                         float64
employment_status                int64
dependents                       int64
bmi                            float64
smoker                           int64
alcohol_freq                     int64
visits_last_year                 int64
hospitalizations_last_3yrs       int64
days_hospitalized_last_3yrs      int64
medication_count                 int64
systolic_bp                    float64
diastolic_bp                   float64
ldl                            float64
hba1c                          float64
plan_type                        int64
network_tier                     int64
deductible                       int64
copay                            int64
policy_term_years                int64
policy_changes_last_2yrs         int64
provider_quality               float64
risk_score                     float64
annual_medical_cost            float64
annual_premium                 float64
monthly_premium                float64
claims_count                     int64
avg_claim_amount               float64
total_claims_paid              float64
chronic_count                    int64
hypertension                     int64
diabetes                         int64
asthma                           int64
copd                             int64
cardiovascular_disease           int64
cancer_history                   int64
kidney_disease                   int64
liver_disease                    int64
arthritis                        int64
mental_health                    int64
proc_imaging_count               int64
proc_surgery_count               int64
proc_physio_count                int64
proc_consult_count               int64
proc_lab_count                   int64
is_high_risk                     int64
had_major_procedure              int64
dtype: object

In [130]:
Y = df.iloc[:,46]
df = df.drop(columns=["is_high_risk"],axis=1)
X = df
Y
X

,age,sex,income,employment_status,dependents,bmi,smoker,alcohol_freq,visits_last_year,hospitalizations_last_3yrs,...,kidney_disease,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,had_major_procedure
0,52,0,22700.0,1,1,27.4,2,1,2,0,...,0,0,1,0,1,0,2,0,1,0
1,79,0,12800.0,0,1,26.6,2,2,2,0,...,0,0,1,1,0,0,1,0,1,0
2,68,1,40700.0,1,3,31.5,2,1,1,0,...,0,0,0,1,1,0,2,1,0,0
3,15,1,15600.0,2,3,31.6,2,1,0,0,...,0,0,0,0,1,0,0,1,0,0
4,53,1,89600.0,2,0,30.5,2,0,3,0,...,0,0,1,0,2,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,50,1,127200.0,0,0,28.2,2,1,0,0,...,0,0,0,0,0,0,1,0,0,0
99996,42,1,21600.0,0,0,27.6,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,41,1,81900.0,3,0,29.8,1,2,7,0,...,0,0,0,0,1,0,1,0,0,0
99998,51,0,43400.0,3,2,21.9,2,1,4,0,...,0,0,0,1,0,0,2,2,1,0
99999,44,0,43700.0,0,0,29.2,2,1,1,0,...,0,0,0,0,0,0,1,1,1,0

In [131]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

In [132]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [133]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn = knn.fit(x_train,y_train)

y_pred = knn.predict(x_test)

In [134]:
# from sklearn.naive_bayes import GaussianNB

# nb = GaussianNB()
# nb = nb.fit(x_train,y_train)

# y_pred = nb.predict(x_test)

In [135]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred))

0.8838

 knn         >>>>>> 0.8838
 navie bayes >>>>>> 0.8337333333333333