In [27]:
import pandas
import numpy

In [28]:
data = pandas.read_csv('synthetic_dataset.csv')
df = pandas.DataFrame(data)
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0       NaN      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0       NaN  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In [29]:
# Display all products with a Price greater than 500.

df[df["Price"]>500]

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0       NaN      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0       NaN  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4354      NaN  1556.0  1.433035      In Stock       NaN
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0

[4009 rows x 5 columns]

In [30]:
# Select products with a Rating of 4.5 or higher.

df[df["Rating"] >= 4.5]

     Category   Price    Rating         Stock  Discount
1         NaN  3045.0  4.757798           NaN      38.0
7           A  7125.0  4.983998  Out of Stock       7.0
9         NaN   463.0  4.626187           NaN       3.0
11          A  3772.0  4.890750      In Stock      45.0
38        NaN  5607.0  4.789502           NaN      15.0
...       ...     ...       ...           ...       ...
4297      NaN  8545.0  4.808525  Out of Stock       9.0
4316        D  5321.0  4.569446           NaN       1.0
4327        A  5949.0  4.894479           NaN      26.0
4333        D  2424.0  4.716295      In Stock      49.0
4357      NaN  4436.0  4.728335           NaN      49.0

[289 rows x 5 columns]

In [31]:
# Find all items that have a Discount greater than 20% but Price less than 1000.

df[(df["Discount"] > 20) & (df['Price'] < 1000)]

     Category  Price    Rating         Stock  Discount
6           C  667.0  3.668341      In Stock      41.0
23          D  407.0  2.774270      In Stock      44.0
30        NaN  704.0       NaN      In Stock      47.0
74        NaN  859.0  1.227946           NaN      49.0
79          D  642.0  1.598345  Out of Stock      28.0
...       ...    ...       ...           ...       ...
4231        D  758.0  2.210974           NaN      46.0
4242        D  939.0  2.578324  Out of Stock      42.0
4263      NaN  144.0  2.687356           NaN      31.0
4324      NaN  324.0  3.047374      In Stock      38.0
4343        B  843.0  2.752754  Out of Stock      48.0

[204 rows x 5 columns]

In [32]:
# Display only Price and Rating columns for the first 10 items.

df.loc[:,['Price','Rating']].head(10)

    Price    Rating
0  5548.0  1.870322
1  3045.0  4.757798
2  4004.0       NaN
3  4808.0  1.492085
4  1817.0       NaN
5  3522.0       NaN
6   667.0  3.668341
7  7125.0  4.983998
8  2777.0  2.678384
9   463.0  4.626187

In [33]:
# Find the product(s) with the maximum and minimum Price.

df[df['Price'] == (df['Price']).min()]

     Category  Price    Rating         Stock  Discount
2499      NaN  102.0  4.467553  Out of Stock      19.0

In [34]:
df[df['Price'] == (df['Price']).max()]

    Category   Price    Rating Stock  Discount
378      NaN  9999.0  1.834954   NaN      30.0

In [35]:
# Display all column names and their data types.

df.dtypes

Category     object
Price       float64
Rating      float64
Stock        object
Discount    float64
dtype: object

In [36]:
df.columns

Index(['Category', 'Price', 'Rating', 'Stock', 'Discount'], dtype='object')

In [37]:
# Show the first 5 and last 3 rows of the DataFrame.

print(df.head())

  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

In [38]:
print(df.tail(3))

     Category   Price    Rating         Stock  Discount
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

In [39]:
# Find the total number of rows and columns in the DataFrame.

df.shape

(4362, 5)

In [40]:
# Check for missing values in each column.

df.isna().sum()

Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [41]:
# Convert the Stock column to numeric type (if it contains strings like '12 pcs').

df["Stock"] = df["Stock"].replace({"In Stock": 1,"Out of Stock": 0})

C:\Users\Neema P Eldho\AppData\Local\Temp\ipykernel_13392\1218990157.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Stock"] = df["Stock"].replace({"In Stock": 1,"Out of Stock": 0})