In [98]:
import pandas
import numpy

In [99]:
data = pandas.read_csv("poly.csv")
df = pandas.DataFrame(data)
df

   sno  Temperature  Pressure
0    1            0    0.0002
1    2           20    0.0012
2    3           40    0.0060
3    4           60    0.0300
4    5           80    0.0900
5    6          100    0.2700

In [100]:
df = df.drop(columns=["sno"],axis=1)

In [101]:
df

   Temperature  Pressure
0            0    0.0002
1           20    0.0012
2           40    0.0060
3           60    0.0300
4           80    0.0900
5          100    0.2700

In [102]:
df.isna().sum()

Temperature    0
Pressure       0
dtype: int64

In [103]:
df.dtypes

Temperature      int64
Pressure       float64
dtype: object

In [104]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [105]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [106]:
from sklearn.linear_model import LinearRegression

linear = LinearRegression()
linear = linear.fit(x_train,y_train)

y_pred = linear.predict(x_test)

In [107]:
print(linear.coef_)
print(linear.intercept_)

[0.00101743]
-0.014234285714285727

In [108]:
from sklearn.metrics import mean_absolute_percentage_error

print(mean_absolute_percentage_error(y_test,y_pred))

2.3855661375661352

In [109]:
from sklearn.metrics import r2_score

print(r2_score(y_test,y_pred))

0.07748968890277175