In [111]:
import pandas
import numpy

In [112]:
data = pandas.read_csv("seattle-weather.csv")
df = pandas.DataFrame(data)
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [113]:
df = df.drop(columns=["date"],axis=1)
df

      precipitation  temp_max  temp_min  wind  weather
0               0.0      12.8       5.0   4.7  drizzle
1              10.9      10.6       2.8   4.5     rain
2               0.8      11.7       7.2   2.3     rain
3              20.3      12.2       5.6   4.7     rain
4               1.3       8.9       2.8   6.1     rain
...             ...       ...       ...   ...      ...
1456            8.6       4.4       1.7   2.9     rain
1457            1.5       5.0       1.7   1.3     rain
1458            0.0       7.2       0.6   2.6      fog
1459            0.0       5.6      -1.0   3.4      sun
1460            0.0       5.6      -2.1   3.5      sun

[1461 rows x 5 columns]

In [114]:
df.isna().sum()

precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [115]:
df.dtypes

precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [116]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["weather"] = le.fit_transform(df["weather"])

In [117]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [118]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

In [119]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [120]:
# from sklearn.neighbors import KNeighborsClassifier

# knn = KNeighborsClassifier()
# knn = knn.fit(x_train,y_train)

# y_pred = knn.predict(x_test)

In [121]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
nb = nb.fit(x_train,y_train)

y_pred = nb.predict(x_test)

In [122]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred))

0.8587699316628702

using knn algorithm >>>  accuracy score  = 0.715261958997722

using naive bayes algorithm >>>  accuracy score  = 0.8337129840546698