In [1]:
import pandas
import numpy

In [2]:
data = pandas.read_csv("finalDataset_0208.csv")
df = pandas.DataFrame(data)
df

,Dates,URL,News,Price or Not,Direction Up,Direction Constant,Direction Down,PastPrice,FuturePrice,PastNews,FutureNews,Asset Comparision
0,2016-01-28,http://www.marketwatch.com/story/april-gold-do...,"april gold down 20 cents to settle at $1,116.1...",1,0,0,1,1,0,0,0,0
1,2017-09-13,http://www.marketwatch.com/story/gold-prices-s...,gold suffers third straight daily decline,1,0,0,1,1,0,0,0,0
2,2016-07-26,http://www.marketwatch.com/story/gold-futures-...,Gold futures edge up after two-session decline,1,1,0,0,1,0,0,0,0
3,2018-02-28,https://www.metalsdaily.com/link/277199/dent-r...,dent research : is gold’s day in the sun comin...,0,0,0,0,0,0,0,1,0
4,2017-09-06,http://www.marketwatch.com/story/gold-steadies...,"Gold snaps three-day rally as Trump, lawmakers...",1,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11407,2013-01-07,https://www.moneycontrol.com/news/business/mar...,gold seen falling from 3-week high this week,1,0,0,1,1,0,0,0,0
11408,2018-09-27,https://www.metalsdaily.com/link/284468/domini...,dominic frisby : now looks like a good time to...,0,0,0,0,0,0,1,0,0
11409,2017-03-03,https://www.thehindubusinessline.com/markets/g...,Gold heading for worst week since November on ...,1,0,0,1,1,0,0,0,0
11410,2008-06-11,http://www.marketwatch.com/story/august-gold-u...,august gold up $7.60 at $878.80 an ounce on nymex,1,1,0,0,1,0,0,0,0
11411,2007-10-01,http://www.marketwatch.com/story/december-gold...,december gold down $1 at $749 an ounce on nymex,1,0,0,1,1,0,0,0,0

In [3]:
# target >> Asset Comparison

# input features >> remaining

In [4]:
df.isna().sum()

Dates                 0
URL                   0
News                  0
Price or Not          0
Direction Up          0
Direction Constant    0
Direction Down        0
PastPrice             0
FuturePrice           0
PastNews              0
FutureNews            0
Asset Comparision     0
dtype: int64

In [5]:
df.dtypes

Dates                 object
URL                   object
News                  object
Price or Not           int64
Direction Up           int64
Direction Constant     int64
Direction Down         int64
PastPrice              int64
FuturePrice            int64
PastNews               int64
FutureNews             int64
Asset Comparision      int64
dtype: object

In [6]:
df = df.drop(columns=["Dates","URL","FuturePrice","FutureNews"],axis=1)
df

,News,Price or Not,Direction Up,Direction Constant,Direction Down,PastPrice,PastNews,Asset Comparision
0,"april gold down 20 cents to settle at $1,116.1...",1,0,0,1,1,0,0
1,gold suffers third straight daily decline,1,0,0,1,1,0,0
2,Gold futures edge up after two-session decline,1,1,0,0,1,0,0
3,dent research : is gold’s day in the sun comin...,0,0,0,0,0,0,0
4,"Gold snaps three-day rally as Trump, lawmakers...",1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...
11407,gold seen falling from 3-week high this week,1,0,0,1,1,0,0
11408,dominic frisby : now looks like a good time to...,0,0,0,0,0,1,0
11409,Gold heading for worst week since November on ...,1,0,0,1,1,0,0
11410,august gold up $7.60 at $878.80 an ounce on nymex,1,1,0,0,1,0,0
11411,december gold down $1 at $749 an ounce on nymex,1,0,0,1,1,0,0

In [7]:
df.dtypes

News                  object
Price or Not           int64
Direction Up           int64
Direction Constant     int64
Direction Down         int64
PastPrice              int64
PastNews               int64
Asset Comparision      int64
dtype: object

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df["News"] = le.fit_transform(df["News"])

df

,News,Price or Not,Direction Up,Direction Constant,Direction Down,PastPrice,PastNews,Asset Comparision
0,3910,1,0,0,1,1,0,0
1,8826,1,0,0,1,1,0,0
2,1410,1,1,0,0,1,0,0
3,5021,0,0,0,0,0,0,0
4,3100,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...
11407,8471,1,0,0,1,1,0,0
11408,5060,0,0,0,0,0,1,0
11409,1966,1,0,0,1,1,0,0
11410,4149,1,1,0,0,1,0,0
11411,4952,1,0,0,1,1,0,0

In [9]:
df.dtypes

News                  int64
Price or Not          int64
Direction Up          int64
Direction Constant    int64
Direction Down        int64
PastPrice             int64
PastNews              int64
Asset Comparision     int64
dtype: object

In [10]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]
X
Y

0        0
1        0
2        0
3        0
4        0
        ..
11407    0
11408    0
11409    0
11410    0
11411    0
Name: Asset Comparision, Length: 11412, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size= 0.3)

In [12]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [13]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

knn = knn.fit(x_train,y_train)

y_pred = knn.predict(x_test)

In [14]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred))

0.8370327102803738