In [25]:
import pandas
import numpy

In [26]:
data = pandas.read_csv("Laptop_price.csv")
df = pandas.DataFrame(data)
df

,Brand,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
0,Asus,3.830296,16,512,11.185147,2.641094,17395.093065
1,Acer,2.912833,4,1000,11.311372,3.260012,31607.605919
2,Lenovo,3.241627,4,256,11.853023,2.029061,9291.023542
3,Acer,3.806248,16,512,12.280360,4.573865,17436.728334
4,Acer,3.268097,32,1000,14.990877,4.193472,32917.990718
...,...,...,...,...,...,...,...
995,HP,3.343584,4,1000,12.587095,3.162399,31593.668017
996,Dell,2.780555,8,256,12.679356,3.750265,9149.521832
997,Dell,3.200569,4,512,12.666315,3.392612,16552.404779
998,Asus,1.604182,8,256,11.215581,3.857613,9407.473459
999,Lenovo,1.711980,4,256,16.561498,3.440883,8807.696702

In [27]:
df = df.drop(columns="Brand",axis=1)
df

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
0,3.830296,16,512,11.185147,2.641094,17395.093065
1,2.912833,4,1000,11.311372,3.260012,31607.605919
2,3.241627,4,256,11.853023,2.029061,9291.023542
3,3.806248,16,512,12.280360,4.573865,17436.728334
4,3.268097,32,1000,14.990877,4.193472,32917.990718
...,...,...,...,...,...,...
995,3.343584,4,1000,12.587095,3.162399,31593.668017
996,2.780555,8,256,12.679356,3.750265,9149.521832
997,3.200569,4,512,12.666315,3.392612,16552.404779
998,1.604182,8,256,11.215581,3.857613,9407.473459
999,1.711980,4,256,16.561498,3.440883,8807.696702

In [28]:
df.columns

Index(['Processor_Speed', 'RAM_Size', 'Storage_Capacity', 'Screen_Size',
       'Weight', 'Price'],
      dtype='object')

In [29]:
df.dtypes

Processor_Speed     float64
RAM_Size              int64
Storage_Capacity      int64
Screen_Size         float64
Weight              float64
Price               float64
dtype: object

In [30]:
df.isna().sum()

Processor_Speed     0
RAM_Size            0
Storage_Capacity    0
Screen_Size         0
Weight              0
Price               0
dtype: int64

In [31]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()
# df["Brand"] = le.fit_transform(df["Brand"])

In [32]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [33]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [34]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)

x_test = scaler.transform(x_test)

In [35]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model = model.fit(x_train,y_train)

y_pred = model.predict(x_test)

In [36]:
print(model.coef_)  # m
print(model.intercept_) # c

[ 141.58522099  556.2006549  9419.81501792   25.60789466  -12.31179602]
19193.914032192144

In [37]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(y_test,y_pred))

150.23225131183895

In [38]:
from sklearn.metrics import mean_squared_error

print(mean_absolute_error(y_test,y_pred))

150.23225131183895

In [39]:
from sklearn.metrics import root_mean_squared_error

print(mean_absolute_error(y_test,y_pred))

150.23225131183895

In [40]:
from sklearn.metrics import mean_absolute_percentage_error

print(mean_absolute_percentage_error(y_test,y_pred))

0.00900901691432602

In [41]:
from sklearn.metrics import r2_score

print(r2_score(y_test,y_pred))

0.9995715254572443