In [80]:
import pandas
import numpy

In [81]:
data = pandas.read_csv('synthetic_dataset.csv')
df = pandas.DataFrame(data)
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0       NaN      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0       NaN  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In [82]:
df.isna().sum()

Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [83]:
df = df.drop('Category',axis = 1)
df

       Price    Rating         Stock  Discount
0     5548.0  1.870322           NaN       0.0
1     3045.0  4.757798           NaN      38.0
2     4004.0       NaN      In Stock       0.0
3     4808.0  1.492085           NaN      33.0
4     1817.0       NaN  Out of Stock      23.0
...      ...       ...           ...       ...
4357  4436.0  4.728335           NaN      49.0
4358  6236.0       NaN  Out of Stock       4.0
4359  3283.0       NaN  Out of Stock       9.0
4360  2999.0  4.425995           NaN      40.0
4361     NaN  2.184471           NaN       0.0

[4362 rows x 4 columns]

In [84]:
df.isna().sum()

Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [85]:
df = df.dropna(subset= 'Rating')
df

       Price    Rating         Stock  Discount
0     5548.0  1.870322           NaN       0.0
1     3045.0  4.757798           NaN      38.0
3     4808.0  1.492085           NaN      33.0
6      667.0  3.668341      In Stock      41.0
7     7125.0  4.983998  Out of Stock       7.0
...      ...       ...           ...       ...
4352  8230.0  2.410736  Out of Stock      29.0
4354  1556.0  1.433035      In Stock       NaN
4357  4436.0  4.728335           NaN      49.0
4360  2999.0  4.425995           NaN      40.0
4361     NaN  2.184471           NaN       0.0

[2312 rows x 4 columns]

In [86]:
df.isna().sum()

Price        87
Rating        0
Stock       702
Discount    210
dtype: int64

In [87]:
df['Price'] = df['Price'].fillna(df['Price'].mean())
df.isna().sum()

C:\Users\Neema P Eldho\AppData\Local\Temp\ipykernel_444\2224949232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'] = df['Price'].fillna(df['Price'].mean())

Price         0
Rating        0
Stock       702
Discount    210
dtype: int64

In [88]:
df['Discount'] = df['Discount'].fillna(df['Discount'].mean())
df.isna().sum()

C:\Users\Neema P Eldho\AppData\Local\Temp\ipykernel_444\2439535645.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Discount'] = df['Discount'].fillna(df['Discount'].mean())

Price         0
Rating        0
Stock       702
Discount      0
dtype: int64

In [89]:
df['Stock'] = df['Stock'].fillna(df['Stock'].mode()[0])
df.isna().sum()

C:\Users\Neema P Eldho\AppData\Local\Temp\ipykernel_444\593711830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Stock'] = df['Stock'].fillna(df['Stock'].mode()[0])

Price       0
Rating      0
Stock       0
Discount    0
dtype: int64

In [90]:
df

            Price    Rating         Stock   Discount
0     5548.000000  1.870322      In Stock   0.000000
1     3045.000000  4.757798      In Stock  38.000000
3     4808.000000  1.492085      In Stock  33.000000
6      667.000000  3.668341      In Stock  41.000000
7     7125.000000  4.983998  Out of Stock   7.000000
...           ...       ...           ...        ...
4352  8230.000000  2.410736  Out of Stock  29.000000
4354  1556.000000  1.433035      In Stock  24.464795
4357  4436.000000  4.728335      In Stock  49.000000
4360  2999.000000  4.425995      In Stock  40.000000
4361  5042.638652  2.184471      In Stock   0.000000

[2312 rows x 4 columns]

In [ ]:
df['Stock'] = df['Stock'].map({'In Stock' : 0,'Out of Stock' : 1})   # encoding  >>>> data preprocessing
df

C:\Users\Neema P Eldho\AppData\Local\Temp\ipykernel_444\4158038887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Stock'] = df['Stock'].map({'In Stock' : 0,'Out of Stock' : 1})

            Price    Rating  Stock   Discount
0     5548.000000  1.870322      0   0.000000
1     3045.000000  4.757798      0  38.000000
3     4808.000000  1.492085      0  33.000000
6      667.000000  3.668341      0  41.000000
7     7125.000000  4.983998      1   7.000000
...           ...       ...    ...        ...
4352  8230.000000  2.410736      1  29.000000
4354  1556.000000  1.433035      0  24.464795
4357  4436.000000  4.728335      0  49.000000
4360  2999.000000  4.425995      0  40.000000
4361  5042.638652  2.184471      0   0.000000

[2312 rows x 4 columns]

# scaling          
# -------
# getting all numericaL values in each column and convert them into a similar range

# <----standard scaler---->

Z = (X - mean) / standard deviation


# <----min max scaler----->