In [778]:
import pandas
import numpy

In [779]:
data = pandas.read_csv("Domestic violence.csv")
df = pandas.DataFrame(data)
df

     SL. No  Age Education     Employment   Income Marital status  Violence
0         1   30  secondary     unemployed       0         married       yes
1         2   47   tertiary     unemployed       0         married        no
2         3   24   tertiary     unemployed       0        unmarred        no
3         4   22   tertiary     unemployed       0        unmarred        no
4         5   50    primary     unemployed       0         married       yes
..      ...  ...        ...            ...     ...             ...       ...
342     343   27   tertiary  semi employed   30000        unmarred        no
343     344   26   tertiary       employed   35000         married        no
344     345   27    primary     unemployed       0         married       yes
345     346   29    primary     unemployed       0         married        no
346     347   24  secondary     unemployed       0         married        no

[347 rows x 7 columns]

In [780]:
# target >>> violence
# imput features >>> remaining

In [781]:
df.isna().sum()

SL. No             0
Age                0
Education          0
Employment         0
Income             0
Marital status     0
Violence           0
dtype: int64

In [782]:
df.dtypes

SL. No              int64
Age                 int64
Education          object
Employment         object
Income              int64
Marital status     object
Violence           object
dtype: object

In [783]:
df = df.drop(columns=["SL. No","Age"],axis= 0)
df

    Education     Employment   Income Marital status  Violence
0    secondary     unemployed       0         married       yes
1     tertiary     unemployed       0         married        no
2     tertiary     unemployed       0        unmarred        no
3     tertiary     unemployed       0        unmarred        no
4      primary     unemployed       0         married       yes
..         ...            ...     ...             ...       ...
342   tertiary  semi employed   30000        unmarred        no
343   tertiary       employed   35000         married        no
344    primary     unemployed       0         married       yes
345    primary     unemployed       0         married        no
346  secondary     unemployed       0         married        no

[347 rows x 5 columns]

In [784]:
df.isna().sum()

Education          0
Employment         0
Income             0
Marital status     0
Violence           0
dtype: int64

In [785]:
df.dtypes

Education          object
Employment         object
Income              int64
Marital status     object
Violence           object
dtype: object

In [786]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Initialize encoder
ohe = OneHotEncoder(sparse_output=False)

# Columns to encode
cols = ["Education ", "Employment ", "Marital status ", "Violence "]

# Fit and transform
encoded = ohe.fit_transform(df[cols])

# Convert to DataFrame
encoded_df = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(cols))

# Merge encoded data with original (drop old columns)
df = pd.concat([df.drop(columns=cols), encoded_df], axis=1)

df.head()

,Income,Education _none,Education _primary,Education _secondary,Education _tertiary,Employment _employed,Employment _employed,Employment _semi employed,Employment _unemployed,Marital status _married,Marital status _unmarred,Violence _no,Violence _yes
0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
4,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0

In [787]:
# df = pandas.get_dummies(df, drop_first=False)

In [788]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()

# df["Education "] = le.fit_transform(df["Education "])
# df["Employment "] = le.fit_transform(df["Employment "])
# df["Marital status "] = le.fit_transform(df["Marital status "])
# df["Violence "] = le.fit_transform(df["Violence "])

In [789]:
# from sklearn.preprocessing import OneHotEncoder      # ML concept in sklearn , scikit-learn
# le = OneHotEncoder()
# for i in list(df):
#     df[i] = le.fit_transform(df[i])                # df[i] is a Series (1D)
#                                                    # But OneHotEncoder.fit_transform() expects a 2D array or DataFrame

In [790]:
# from sklearn.preprocessing import OneHotEncoder

# ohe = OneHotEncoder()
# # Create the encoder
# ohe = OneHotEncoder(sparse_output=False, drop=None)  # use sparse=False if sklearn < 1.2

# # Select your categorical columns
# cols = ["Education ", "Employment ", "Marital status ", "Violence "]

# # Fit and transform the selected columns
# encoded = ohe.fit_transform(df[cols])

# # Create a DataFrame for the encoded features
# encoded_df = pandas.DataFrame(encoded, columns=ohe.get_feature_names_out(cols))

# # Drop original categorical columns and merge encoded columns
# df = pandas.concat([df.drop(columns=cols), encoded_df], axis=1)

In [791]:
df

,Income,Education _none,Education _primary,Education _secondary,Education _tertiary,Employment _employed,Employment _employed,Employment _semi employed,Employment _unemployed,Marital status _married,Marital status _unmarred,Violence _no,Violence _yes
0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
4,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,30000,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
343,35000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
344,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
345,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
346,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [792]:
df.dtypes

Income                         int64
Education _none              float64
Education _primary           float64
Education _secondary         float64
Education _tertiary          float64
Employment _employed         float64
Employment _employed         float64
Employment _semi employed    float64
Employment _unemployed       float64
Marital status _married      float64
Marital status _unmarred     float64
Violence _no                 float64
Violence _yes                float64
dtype: object

In [793]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [794]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

In [795]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)

x_test = scaler.transform(x_test)

In [796]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

knn = knn.fit(x_train,y_train)

y_pred = knn.predict(x_test)

In [797]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_pred,y_test))

0.9333333333333333