In [22]:
import pandas
import numpy

In [23]:
data = pandas.read_csv('loan_train.csv')
df = pandas.DataFrame(data)
df

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,290000,0.0,7100000,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,410600,0.0,4000000,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,807200,24000.0,25300000,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,758300,0.0,18700000,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,458300,0.0,13300000,360.0,0.0,Semiurban,N

In [24]:
# target >>> status
# input features >>> Dependents	Self_Employed	Applicant_Income	Coapplicant_Income	Loan_Amount	Term	Credit_History	Area

In [25]:
df = df.drop(columns=['Gender','Education'],axis=1)  
df
# axis=1  Operate along columns

,Married,Dependents,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,No,0,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Yes,1,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Yes,0,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Yes,0,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,No,0,No,600000,0.0,14100000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...
609,No,0,No,290000,0.0,7100000,360.0,1.0,Rural,Y
610,Yes,3+,No,410600,0.0,4000000,180.0,1.0,Rural,Y
611,Yes,1,No,807200,24000.0,25300000,360.0,1.0,Urban,Y
612,Yes,2,No,758300,0.0,18700000,360.0,1.0,Urban,Y
613,No,0,Yes,458300,0.0,13300000,360.0,0.0,Semiurban,N

In [26]:
df.isna().sum()

Married                3
Dependents            15
Self_Employed         32
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [27]:
df['Dependents'] =df['Dependents'].fillna(df['Dependents'].mode()[0])
df.isna().sum()

Married                3
Dependents             0
Self_Employed         32
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [28]:
df['Married'] =df['Married'].fillna(df['Married'].mode()[0])
df.isna().sum()

Married                0
Dependents             0
Self_Employed         32
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [29]:
df['Self_Employed'] =df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])
df.isna().sum()

Married                0
Dependents             0
Self_Employed          0
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [30]:
df['Term'] =df['Term'].fillna(df['Term'].mean())
df.isna().sum()

Married                0
Dependents             0
Self_Employed          0
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                   0
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [31]:
df['Credit_History'] =df['Credit_History'].fillna(df['Credit_History'].mean())
df.isna().sum()

Married               0
Dependents            0
Self_Employed         0
Applicant_Income      0
Coapplicant_Income    0
Loan_Amount           0
Term                  0
Credit_History        0
Area                  0
Status                0
dtype: int64

In [32]:
df

,Married,Dependents,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,No,0,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Yes,1,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Yes,0,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Yes,0,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,No,0,No,600000,0.0,14100000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...
609,No,0,No,290000,0.0,7100000,360.0,1.0,Rural,Y
610,Yes,3+,No,410600,0.0,4000000,180.0,1.0,Rural,Y
611,Yes,1,No,807200,24000.0,25300000,360.0,1.0,Urban,Y
612,Yes,2,No,758300,0.0,18700000,360.0,1.0,Urban,Y
613,No,0,Yes,458300,0.0,13300000,360.0,0.0,Semiurban,N

In [33]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Married'] = le.fit_transform(df['Married'])
df['Dependents'] = le.fit_transform(df['Dependents'])
df['Self_Employed'] = le.fit_transform(df['Self_Employed'])
df['Area'] = le.fit_transform(df['Area'])
df['Status'] = le.fit_transform(df['Status'])
df

,Married,Dependents,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,0,0,0,584900,0.0,15000000,360.0,1.0,2,1
1,1,1,0,458300,150800.0,12800000,360.0,1.0,0,0
2,1,0,1,300000,0.0,6600000,360.0,1.0,2,1
3,1,0,0,258300,235800.0,12000000,360.0,1.0,2,1
4,0,0,0,600000,0.0,14100000,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,290000,0.0,7100000,360.0,1.0,0,1
610,1,3,0,410600,0.0,4000000,180.0,1.0,0,1
611,1,1,0,807200,24000.0,25300000,360.0,1.0,2,1
612,1,2,0,758300,0.0,18700000,360.0,1.0,2,1
613,0,0,1,458300,0.0,13300000,360.0,0.0,1,0

In [34]:
df.dtypes

Married                 int64
Dependents              int64
Self_Employed           int64
Applicant_Income        int64
Coapplicant_Income    float64
Loan_Amount             int64
Term                  float64
Credit_History        float64
Area                    int64
Status                  int64
dtype: object

In [35]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]
X
Y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Status, Length: 614, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size= 0.3)

X_train
X_test
Y_train
Y_test

515    1
530    1
113    1
163    1
355    1
      ..
19     1
57     0
325    0
503    0
249    1
Name: Status, Length: 185, dtype: int64

In [37]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler() 
scaler.fit(X_train) 

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [38]:
from sklearn.neighbors import KNeighborsClassifier   

knn = KNeighborsClassifier()   

knn = knn.fit(X_train,Y_train)     

y_pred = knn.predict(X_test)     

y_pred

array([1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1])

In [39]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_pred,Y_test))

0.827027027027027

In [40]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(Y_test,y_pred)

cm

array([[ 25,  25],
       [  7, 128]])