In [127]:
import pandas
import numpy

In [128]:
data = pandas.read_csv("cars.csv")
df = pandas.DataFrame(data)
df

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Mercedes,C-Class,2019,22000,Diesel,Automatic,First,16,1950,191,5,2900000
96,97,Toyota,Innova Crysta,2017,38000,Diesel,Manual,Second,13,2755,171,7,1400000
97,98,Ford,EcoSport,2018,26000,Petrol,Manual,Third,18,1497,121,5,750000
98,99,Hyundai,Verna,2019,24000,Petrol,Automatic,Second,17,1497,113,5,850000
99,100,Tata,Altroz,2020,18000,Petrol,Manual,First,20,1199,85,5,600000

In [129]:
df = df.drop(columns=["Car_ID","Model","Seats"],axis=1)
df

,Brand,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Price
0,Toyota,2018,50000,Petrol,Manual,First,15,1498,108,800000
1,Honda,2019,40000,Petrol,Automatic,Second,17,1597,140,1000000
2,Ford,2017,20000,Petrol,Automatic,First,10,4951,395,2500000
3,Maruti,2020,30000,Diesel,Manual,Third,23,1248,74,600000
4,Hyundai,2016,60000,Diesel,Automatic,Second,18,1999,194,850000
...,...,...,...,...,...,...,...,...,...,...
95,Mercedes,2019,22000,Diesel,Automatic,First,16,1950,191,2900000
96,Toyota,2017,38000,Diesel,Manual,Second,13,2755,171,1400000
97,Ford,2018,26000,Petrol,Manual,Third,18,1497,121,750000
98,Hyundai,2019,24000,Petrol,Automatic,Second,17,1497,113,850000
99,Tata,2020,18000,Petrol,Manual,First,20,1199,85,600000

In [130]:
df.isna().sum()

Brand                0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Price                0
dtype: int64

In [131]:
df.dtypes

Brand                object
Year                  int64
Kilometers_Driven     int64
Fuel_Type            object
Transmission         object
Owner_Type           object
Mileage               int64
Engine                int64
Power                 int64
Price                 int64
dtype: object

In [132]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df["Brand"] = le.fit_transform(df["Brand"])
df["Fuel_Type"] = le.fit_transform(df["Fuel_Type"])
df["Transmission"] = le.fit_transform(df["Transmission"])
df["Owner_Type"] = le.fit_transform(df["Owner_Type"])

In [133]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [134]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [135]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [136]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model = model.fit(x_train,y_train)
y_pred = model.predict(x_test)
y_pred

array([1795611.60627834,  581633.51375347, 1759764.95922357,
       1557732.55551555,  750450.37884157,  837221.6248799 ,
        387923.04021633, 2571211.72868675, 1642416.87155543,
       2449491.590118  ,  786528.64396643,  582037.11657969,
       2057333.78979257,  529854.64775165, 4914867.2371042 ,
        410182.44845772,  529854.64775165, 1759764.95922357,
       1875012.70856948, 1311640.66595347,  674718.23810086,
       2185518.50952975, 2417363.80712587, 2057333.78979257,
        529854.64775165, 1305849.85559165,  -58037.28709205,
       1316515.27844303, 2296927.10881022, 2110678.01035294])

In [137]:
print(model.coef_)   # m 
print(model.intercept_) # c

[-131854.99289281 -127430.31379816 -150867.53802073  -48058.04225227
 -233003.96241241 -126651.75455672 -154392.98699644  192171.68205006
  432869.43323525]
1629285.7142857194