In [341]:
import pandas
import numpy

In [342]:
data = pandas.read_csv("cars.csv")
df = pandas.DataFrame(data)
df
df_copy = df

In [343]:
df = df.drop(columns=["Car_ID","Model","Seats"],axis=1)
df

,Brand,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Price
0,Toyota,2018,50000,Petrol,Manual,First,15,1498,108,800000
1,Honda,2019,40000,Petrol,Automatic,Second,17,1597,140,1000000
2,Ford,2017,20000,Petrol,Automatic,First,10,4951,395,2500000
3,Maruti,2020,30000,Diesel,Manual,Third,23,1248,74,600000
4,Hyundai,2016,60000,Diesel,Automatic,Second,18,1999,194,850000
...,...,...,...,...,...,...,...,...,...,...
95,Mercedes,2019,22000,Diesel,Automatic,First,16,1950,191,2900000
96,Toyota,2017,38000,Diesel,Manual,Second,13,2755,171,1400000
97,Ford,2018,26000,Petrol,Manual,Third,18,1497,121,750000
98,Hyundai,2019,24000,Petrol,Automatic,Second,17,1497,113,850000
99,Tata,2020,18000,Petrol,Manual,First,20,1199,85,600000

In [344]:
df.isna().sum()

Brand                0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Price                0
dtype: int64

In [345]:
df.dtypes

Brand                object
Year                  int64
Kilometers_Driven     int64
Fuel_Type            object
Transmission         object
Owner_Type           object
Mileage               int64
Engine                int64
Power                 int64
Price                 int64
dtype: object

In [346]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df["Brand"] = le.fit_transform(df["Brand"])
df["Fuel_Type"] = le.fit_transform(df["Fuel_Type"])
df["Transmission"] = le.fit_transform(df["Transmission"])
df["Owner_Type"] = le.fit_transform(df["Owner_Type"])

In [347]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [348]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [349]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [350]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model = model.fit(x_train,y_train)
y_pred = model.predict(x_test)
y_pred

array([4202876.76062735,  768676.0374572 , 2872674.44190493,
       3185990.91968182, 1761011.90409084, 1355725.38385833,
       1519045.6182782 , 1184330.75852511, 3185990.91968182,
       2117696.3984276 , 2149060.30706286,  468963.54632013,
       2872674.44190493,  503439.77656784,  940507.19671585,
        418844.37066853, 2059929.2338919 ,  708308.66286985,
        523396.40088483, 2067079.83252479,  428332.32404726,
        763381.06806792, 1742437.63083703, 2077316.92314039,
       1449602.86115086,  719565.17050627,  708308.66286985,
        428332.32404726, 2396140.15050461, 1449602.86115086])

In [351]:
print(model.coef_)   # m 
print(model.intercept_) # c

[ -48652.68212473  -14596.51228229  -54681.14428043 -214931.74134003
 -265009.67985281  -72794.23659344 -180661.37395375 -206426.98448182
  729968.51696732]
1611428.5714285711

In [352]:
df_copy

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Mercedes,C-Class,2019,22000,Diesel,Automatic,First,16,1950,191,5,2900000
96,97,Toyota,Innova Crysta,2017,38000,Diesel,Manual,Second,13,2755,171,7,1400000
97,98,Ford,EcoSport,2018,26000,Petrol,Manual,Third,18,1497,121,5,750000
98,99,Hyundai,Verna,2019,24000,Petrol,Automatic,Second,17,1497,113,5,850000
99,100,Tata,Altroz,2020,18000,Petrol,Manual,First,20,1199,85,5,600000

In [353]:
test = {"Brand":"toyota" , 
        "Year": 2025 ,
        "Kilometers_Driven" : 100000 ,
        "Fuel_Type" : "Petrol",
        "Transmission" : "Manual",
        "Owner_Type" : "First" , 
        "Mileage" : 20,
        "Engine" : 1500,
        "Power" : 150 }

test_df = pandas.DataFrame([test])
# sample = pandas.DataFrame(test,index =[0])

In [354]:
for i in list(test_df):
    if test_df[i].dtypes == "object":
        test_df[i] = le.fit_transform(test_df[i].astype(str))

In [355]:
test_df.dtypes

Brand                int64
Year                 int64
Kilometers_Driven    int64
Fuel_Type            int64
Transmission         int64
Owner_Type           int64
Mileage              int64
Engine               int64
Power                int64
dtype: object

In [356]:
test_df = scaler.transform(test_df)

In [357]:
result = model.predict(test_df)

result

array([1538629.30576705])