In [8]:
import pandas
import numpy

In [9]:
data = pandas.read_csv("Domestic violence.csv")
df = pandas.DataFrame(data)
df

     SL. No  Age Education     Employment   Income Marital status  Violence
0         1   30  secondary     unemployed       0         married       yes
1         2   47   tertiary     unemployed       0         married        no
2         3   24   tertiary     unemployed       0        unmarred        no
3         4   22   tertiary     unemployed       0        unmarred        no
4         5   50    primary     unemployed       0         married       yes
..      ...  ...        ...            ...     ...             ...       ...
342     343   27   tertiary  semi employed   30000        unmarred        no
343     344   26   tertiary       employed   35000         married        no
344     345   27    primary     unemployed       0         married       yes
345     346   29    primary     unemployed       0         married        no
346     347   24  secondary     unemployed       0         married        no

[347 rows x 7 columns]

In [10]:
# target >>> violence
# imput features >>> remaining

In [11]:
df.isna().sum()

SL. No             0
Age                0
Education          0
Employment         0
Income             0
Marital status     0
Violence           0
dtype: int64

In [12]:
df.dtypes

SL. No              int64
Age                 int64
Education          object
Employment         object
Income              int64
Marital status     object
Violence           object
dtype: object

In [15]:
df = df.drop(columns=["SL. No","Age"],axis=0)
df

    Education     Employment   Income Marital status  Violence
0    secondary     unemployed       0         married       yes
1     tertiary     unemployed       0         married        no
2     tertiary     unemployed       0        unmarred        no
3     tertiary     unemployed       0        unmarred        no
4      primary     unemployed       0         married       yes
..         ...            ...     ...             ...       ...
342   tertiary  semi employed   30000        unmarred        no
343   tertiary       employed   35000         married        no
344    primary     unemployed       0         married       yes
345    primary     unemployed       0         married        no
346  secondary     unemployed       0         married        no

[347 rows x 5 columns]

In [16]:
df.isna().sum()

Education          0
Employment         0
Income             0
Marital status     0
Violence           0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder