In [1]:
import pandas
import numpy

In [2]:
data = pandas.read_csv('health_lifestyle_dataset.csv')
df = pandas.DataFrame(data)
df

,id,age,gender,bmi,daily_steps,sleep_hours,water_intake_l,calories_consumed,smoker,alcohol,resting_hr,systolic_bp,diastolic_bp,cholesterol,family_history,disease_risk
0,1,56,Male,20.5,4198,3.9,3.4,1602,0,0,97,161,111,240,0,0
1,2,69,Female,33.3,14359,9.0,4.7,2346,0,1,68,116,65,207,0,0
2,3,46,Male,31.6,1817,6.6,4.2,1643,0,1,90,123,99,296,0,0
3,4,32,Female,38.2,15772,3.6,2.0,2460,0,0,71,165,95,175,0,0
4,5,60,Female,33.6,6037,3.8,4.0,3756,0,1,98,139,61,294,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,53,Male,33.1,4726,3.9,2.0,3118,0,1,56,105,76,282,0,0
99996,99997,22,Male,35.1,11554,4.5,3.1,1967,0,0,51,149,77,192,0,0
99997,99998,37,Male,18.9,3924,3.8,1.0,2328,0,0,69,92,117,218,0,0
99998,99999,72,Female,27.8,16110,5.6,0.8,3093,0,0,93,164,72,188,0,0
99999,100000,37,Male,35.4,8222,9.1,1.8,3942,0,1,71,145,80,276,0,1

target >>>>>>>>>> disease_risk
input features >>> remaining

In [3]:
df.isna().sum()   

# df.isna()   used to find is there any missing value

# df.fillna() used to fill the misssing value

# df.dropna() used to remove the rows with missing value

id                   0
age                  0
gender               0
bmi                  0
daily_steps          0
sleep_hours          0
water_intake_l       0
calories_consumed    0
smoker               0
alcohol              0
resting_hr           0
systolic_bp          0
diastolic_bp         0
cholesterol          0
family_history       0
disease_risk         0
dtype: int64

In [4]:
# to find the missing value percentange

(df.isna().sum()/len(df)) * 100

id                   0.0
age                  0.0
gender               0.0
bmi                  0.0
daily_steps          0.0
sleep_hours          0.0
water_intake_l       0.0
calories_consumed    0.0
smoker               0.0
alcohol              0.0
resting_hr           0.0
systolic_bp          0.0
diastolic_bp         0.0
cholesterol          0.0
family_history       0.0
disease_risk         0.0
dtype: float64

In [5]:
# find the average of bmi

df['bmi'].mean()

np.float64(29.02479)

In [6]:
# find the maximum and minimum dailysteps

print(df['daily_steps'].max())
print(df['daily_steps'].min())

19999
1000

In [7]:
# select age ,gender ,bmi of people aged more than 40

df.loc[df['age'] > 40,['age','gender','bmi']] # used to select some columns and get in a new array

# loc - Access a group of rows and columns by label(s) or a boolean array.  loc[row,column]

       age  gender   bmi
0       56    Male  20.5
1       69  Female  33.3
2       46    Male  31.6
4       60  Female  33.6
6       78  Female  37.1
...    ...     ...   ...
99990   53    Male  26.0
99992   44  Female  32.9
99994   41    Male  38.8
99995   53    Male  33.1
99998   72  Female  27.8

[62841 rows x 3 columns]

In [8]:
# select gender,daily_steps,sleep_hours where sleep_hours less than 6

df.loc[df['sleep_hours'] < 6,['gender','daily_steps','sleep_hours']]

       gender  daily_steps  sleep_hours
0        Male         4198          3.9
3      Female        15772          3.6
4      Female         6037          3.8
5        Male        19495          5.0
7      Female         1726          4.8
...       ...          ...          ...
99988    Male         8929          3.1
99995    Male         4726          3.9
99996    Male        11554          4.5
99997    Male         3924          3.8
99998  Female        16110          5.6

[42390 rows x 3 columns]

In [9]:
# display age,bmi,calories_consumed where bmi > 30

df.loc[df['bmi'] > 30,['age','bmi','calories_consumed']]

       age   bmi  calories_consumed
1       69  33.3               2346
2       46  31.6               1643
3       32  38.2               2460
4       60  33.6               3756
6       78  37.1               3478
...    ...   ...                ...
99992   44  32.9               3193
99994   41  38.8               1466
99995   53  33.1               3118
99996   22  35.1               1967
99999   37  35.4               3942

[45409 rows x 3 columns]

In [10]:
# dispaaly age,daily_steps,calories_consumed foe smokers (smoker = 1)

df.loc[df['smoker'] == 1,['age','daily_steps','calories_consumed']]

       age  daily_steps  calories_consumed
6       78        16739               3478
10      36        17215               2732
15      70        18483               2759
20      39         6216               3232
25      47        16175               1605
...    ...          ...                ...
99974   56        15610               3079
99977   44         6572               2571
99978   52         2510               3653
99986   62         6133               2280
99994   41         4381               1466

[20094 rows x 3 columns]

In [11]:
# display age,daily_steps,bmi of people having bmi above 28 and disease = 1

df.loc[(df['bmi'] > 28) & (df['disease_risk'] == 1) ,['age','daily_steps','bmi']]

       age  daily_steps   bmi
17      57         2046  29.9
21      70        19659  28.4
29      38         9098  34.6
36      42         3302  34.2
48      79        12334  37.3
...    ...          ...   ...
99967   56         6754  39.4
99973   59        18082  35.1
99977   44         6572  36.9
99989   24        12177  35.4
99999   37         8222  35.4

[13546 rows x 3 columns]

In [12]:
# diaplay age,daily steps,bmi of people having bmi above 28 or smoker = 1

df.loc[(df['bmi'] > 28) | (df['smoker'] == 1),['age','daily_steps','bmi']]

       age  daily_steps   bmi
1       69        14359  33.3
2       46         1817  31.6
3       32        15772  38.2
4       60         6037  33.6
6       78        16739  37.1
...    ...          ...   ...
99992   44         6644  32.9
99994   41         4381  38.8
99995   53         4726  33.1
99996   22        11554  35.1
99999   37         8222  35.4

[63666 rows x 3 columns]

In [13]:
# display daily_steps,cholesterol,bmi of people having smoker = 1 and alcohol= 1

df.loc[(df['smoker'] == 1) & (df['alcohol'] == 1),['daily_steps','cholesterol','bmi']]

       daily_steps  cholesterol   bmi
10           17215          189  20.8
15           18483          167  25.8
33            6215          234  33.1
41            3531          275  18.8
47           10193          223  22.7
...            ...          ...   ...
99952        10367          273  31.3
99957        14687          170  32.3
99969         3738          212  22.7
99973        18082          166  35.1
99978         2510          298  34.1

[6074 rows x 3 columns]

In [14]:
# display age,daily_steps,cholesterol of people having resting_hr above 90 or systolic_bp > 150

df.loc[(df['resting_hr'] > 90) | (df['systolic_bp'] > 150) ,['age','daily_steps','cholesterol']]

       age  daily_steps  cholesterol
0       56         4198          240
3       32        15772          175
4       60         6037          294
8       56         1764          237
9       75         9730          157
...    ...          ...          ...
99986   62         6133          194
99989   24        12177          242
99990   53        16162          271
99993   23         3586          175
99998   72        16110          188

[44615 rows x 3 columns]